.add-notes {
  margin-top: 20px;
  text-align: center;
  max-width: 40%;
  min-width: 300px;
  margin: 10px auto;
  position: absolute;
  z-index: 1;
  /* background-color: rgba(234, 223, 223, 0.851); */
  background: linear-gradient(
    45deg,
    rgba(234, 223, 223, 0.851),
    rgba(255, 255, 255, 0.851)
  );
  backdrop-filter: blur(5px);
  border: 1px solid rgb(255, 255, 255, 0.851);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 24px;

}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  border: none;
}
.add-notes form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-notes form input,
select {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-notes form input:focus,
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-notes form button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
}

.add-notes form button:hover {
  background-color: #3e8e41;
}

.add-notes form button:active {
  background-color: #3e8e41;
}

.add-button {
  position: absolute;
  bottom: -20px;
  right: 47%;
  /* margin: 10px; */
  padding: 15px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 20px;
}
