.NotesList {
    max-width: 80%;
    min-width: 556px;
    height: auto;
    background-color: #d5ccff9d;
    margin: 10px auto;
    border-radius: 12px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.big-title {
    color: white;
}
