* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(#e42c5f, #2b1887, #87CEEB);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}
